name: "creat new rg practise"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform_init_plan:
   runs-on: self-hosted
   
   steps:
     - name: My first step terraform_init_plan
       run: echo First_Step
     - name: Checkout
       uses: actions/checkout@v5.0.0
     - name: Azure Login
       uses: Azure/login@v2.3.0
       with:
         subscription-id: "b7e2d3dd-2fa8-4498-90b2-8ed4b08e15ee"
         client-id:  "3976a2dd-67d3-4143-99ad-1a91bcccbbbb"
         tenant-id: "6780ca35-9ef2-4e3d-9abe-b26fab9e2ed1"
    
    
  
  
